.container-L {
  display: flex;
  overflow: hidden;
}

.body {
  position: relative;
  height: 100%;
  width: 100%;
}
.sub-body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}
.sub-body:hover ~ .left {
  background-color: black;
}
.sub-body img {
  display: block;
  margin: auto;
}
.sub-body h5 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
}
.left,
.right {
  width: 50vw;
  height: 100vh;
  position: absolute;
  transition: 0.3s linear;
}
.left {
  background-color: #e09053;
  left: 0;
  animation: close 1.5s;
}
.right {
  right: 0;
  background-color: #f7832a;
  animation: close2 1.5s;
}
@keyframes close {
  from {
    transform: translate3d(-100%, 0px, 0px);
  }
  to {
  }
}
@keyframes close2 {
  from {
    transform: translate3d(100%, 0px, 0px);
  }
  to {
  }
}
