.Anime-container {
  height: 100vh;
  width: 100%;
  background-image: url("http://localhost:3000/pic/bg2.jpg");

  background-size: cover;
  display: grid;
  grid-template-areas:
    "A B B B B "
    "A B B B B"
    "A B B B B ";
}
.desc {
  grid-area: A;
  background-color: #00000042;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70vh 30vh;
}
.show {
  grid-area: B;
  display: grid;
}
.ch {
  margin: auto;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}
span {
  color: white;
  font-size: 20px;
}
#ep {
  padding: 8px;
  font-size: 20px;
  border-color: transparent;
  transition: 380ms;
}
#ep_r {
  background-color: red;
  padding: 8px;
  font-size: 20px;
  border-color: transparent;
  transition: 380ms;
}
button {
  background-color: #1e1e1e63;
  margin-left: 10px;
  color: white;
  padding: 8px;
  font-size: 20px;
  border: 4px solid white;
  transition: outline 0.2s linear, border-color 0.2s linear;
}
button:active {
  outline: solid #fde3c6d1;
  border-color: transparent;
  outline-offset: 4px;
}
.AnimeTitle {
  color: white;
  font-size: 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccc5c5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  z-index: 1;
  overflow-y: scroll;
  height: 18em;
}

.dropdown1:hover .dropdown-content {
  display: block;
}
.screen {
  margin: auto;
}
li {
  padding: 5px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
li:hover {
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
}
.Back {
  position: absolute;
  top: 20px;
  right: 40px;
}
/* Scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(90, 88, 88, 0.76);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(104, 104, 104, 0.76);
}
